/* MainWindow {
    background-image: url("..\icons\main-background.png");
    background-repeat: no-repeat; 
    background-position: center;
} */

/* QWidget {
    background-color: #242424;
} */

QLineEdit {
    background-color: #303030;
    border: 3px solid #333;
    color: #c0c0c0;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    /* font-family: 'Montserrat', sans-serif; */

}

QLineEdit:focus {
    border-color: #aaa;
    font-size: 24px;
    border: 3px;
}

QLabel {
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #242424;
    color: #ffffff;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;

}

QHBoxLayout {
    background-color: #395fc7;
}

QPushButton {
    border: 2px solid #333;
    border-radius: 2px;
    background-color: #333;
    padding: 6px;
    color: #ffffff;
    width: 32px;
    height: 32px;
    icon-size: 26px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

QPushButton:hover {
    background-color: #444;
}

QPushButton:pressed {
    background-color: #395fc7;
    padding: 4px;
    font-size: 32px;
}

QScrollBar:vertical {
    border: none;
    background: rgb(75, 75, 75);
    width: 14px;
    margin: 15px 0 15px 0;
    border-radius: 0px;
}

QScrollBar::handle:vertical {
    background: white;
    min-height: 25px;
    border-radius: 7px;
}

QScrollBar::add-line:vertical {
    border: 2px solid black;
    background: #32CC99;
    height: 25px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    border: 2px solid black;
    background: #32CC99;
    height: 25px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}


QComboBox {
    border: 3px solid #333;
    border-radius: 5px;
    padding: 1px 18px 1px 3px;
    min-width: 6em;
    background-color: #242424;
    color: #c0c0c0;
    font-size: 16px;
}

QComboBox::drop-down {
    width: 15px;
    border-left-width: 1px;
    border-left-color: #242424;
    background-color: #303030;
    color: #c0c0c0;
    border-left-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

